<div class="login-box">
  <img src="img/logo.png" class="avatar" alt="Avatar Image">
  <h1>Ingresa Aquí</h1>
  <form>
    <!-- ingreso usuario -->
    <label for="username">Usuario</label>
    <input type="text" placeholder="Ingresar Usuario">
    <!-- ingreso contraseña -->
    <label for="password">Contraseña</label>
    <input type="password" placeholder="Ingresar Contraseña">
    <input type="submit" value="Iniciar Sesión">
    <div>
      <a>¿Olvidaste tu contraseña?</a><br>
      <a href="#">¿No tienes una cuenta?</a>
    </div>
  </form>
</div>