    <header>
            <div class="container center">
                    <img src="../../assets/img/logo-oficial.png" alt="logo uta" class="logo">
                    <nav>
                        <ul>
                            <li> <a href="#">Inicio </a> </li>
                            <li> <a href="#">Sobre Nosotros </a> </li>
                            <li> <a href="#">Editor </a> </li>
                            <li> <a href="#">Blog </a> </li>
                            <li> <a href="#">Contacto </a> </li>
                            <li> <a routerLink ="login">Iniciar Sesión </a> </li>
                        </ul>
                    </nav>
            </div>
         
    </header>

<!--    <mat-nav-list>
        <a mat-list-item routerLink="/first-page">First Page</a>
        <a mat-list-item routerLink="/second-page">Second Page</a>
        <a mat-list-item routerLink="/third-page">Third Page</a>
      </mat-nav-list>
-->

